@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* css resets start */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* css resets end */

:root {
	--color-primary-400: #3882f6;

	--color-neutral-700: #1f2937;
	--color-neutral-300: #e5e7eb;
	--color-neutral-200: #f9faf8;
	--color-neutral-100: #fff;

	--color-bg-hero: var(--color-neutral-700);
	--color-bg-footer: var(--color-neutral-700);
	--color-text-main-hero: var(--color-neutral-200);
	--color-text-hero: var(--color-neutral-300);
	--color-text-nav: var(--color-neutral-300);
	--color-text-brand: var(--color-neutral-200);
	--color-bg-button: var(--color-primary-400);
	--color-text-button: var(--color-neutral-100);
	--color-bg-cta: var(--color-primary-400);
	--color-text-cta: var(--color-neutral-100);
	--color-text-sect-header: var(--color-neutral-700);
	--color-bg-sect-quote: var(--color-neutral-300);
	--color-text-sect-quote: var(--color-neutral-700);

	--ff-primary: 'Roboto', sans-serif;

	--ff-body: var(--ff-primary);

	--fs-regular: 1rem;
	--fs-medium: 1.125rem;
	--fs-lg: 1.5rem;
	--fs-xl: 2.25rem;
	--fs-xxl: 3rem;
}

html {
	font-size: 16px;
}

/* general stylings start */
body {
	font-family: var(--ff-body);
}

/* header start */
.site-header {
	background: var(--color-bg-hero);
	padding-block: 1rem;
}

.site-header__site-brand a {
	color: var(--color-text-brand);
	text-decoration: none;
}

.primary-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.primary-nav ul {
	list-style: none;
}

.primary-nav ul li {
	display: inline;
	padding-bottom: 0.5rem;

	&:hover {
		border-bottom: 1px solid var(--color-primary-400);
	}
}

.primary-nav ul li:not(:last-child) {
	margin-inline-end: 1.5rem;
}

.primary-nav ul li a {
	text-decoration: none;
	color: var(--color-text-nav);
}
/* header end */

/* hero section start */

.hero {
	background: var(--color-bg-hero);
	color: var(--color-text-hero);
}

.hero-content--left {
	color: var(--color-text-hero);
	text-align: start;

	& > *:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.hero-content--left h2 {
	color: var(--color-text-main-hero);
	font-weight: 900;
}

.hero-content--right {
	display: flex;
}

.hero-content--right__img-container {
	border: 1px solid var(--color-primary-400);
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	background: #333333;
}

/* hero section end */

.information__information-content {
	padding-inline: 2rem;
}

.information__information-content h3 {
	color: var(--color-text-sect-header);
	margin-bottom: 3.5rem;
	font-weight: 900;
}

.quote {
	background-color: var(--color-bg-sect-quote);
	padding-block: 6rem;
	color: var(--color-text-sect-quote);
	text-align: start;
}

.quote-content {
	padding-inline: 4rem;
}

.quote-content blockquote {
	display: flex;
	flex-direction: column;
	font-weight: 300;
	font-style: italic;
}

.quote-content cite {
	font-weight: 700;
	text-align: end;
}

.cta {
	padding-block: 5rem;
}

.cta-content {
	background: var(--color-bg-cta);
	color: var(--color-text-cta);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-block: 2.5rem;
	border-radius: 6px;
}

.cta-content__text {
	text-align: start;
}

.cta__headline {
	font-weight: 700;
}

footer {
	background: var(--color-bg-footer);
	color: var(--color-neutral-200);
	padding-block: 1.5rem;
}

footer p {
	text-align: center;
	font-weight: 300;
}

/* general stylings end */

/* utility classes start */

/* typography start */
.fs-regular {
	font-size: var(--fs-regular);
}
.fs-md {
	font-size: var(--fs-medium);
}
.fs-lg {
	font-size: var(--fs-lg);
}
.fs-xl {
	font-size: var(--fs-xl);
}
.fs-xxl {
	font-size: var(--fs-xxl);
}

/* typography end */

/* layout start */
.container {
	max-width: 1100px;
	margin-inline: auto;
	padding-inline: 1rem;
}

.even-columns {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.even-columns > * {
	flex: 1;
	min-width: 345px;
}

/* layout end */

/* components start */

/* components end */

section {
	padding-block: 2.5rem 6rem;
	text-align: center;
}

button,
.btn,
*[role='button'] {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;
	background-color: var(--color-bg-button);
	color: var(--color-text-button);
	padding: 0.75rem 2.5rem;
	border-radius: 4px;
	font-weight: bold;

	&:hover {
		opacity: 0.9;
	}
}

.btn--cta {
	border: 1px solid var(--color-neutral-100);

	&:hover {
		color: var(--color-primary-400);
		background: var(--color-neutral-100);
	}
}

.cards-container {
	display: flex;
	gap: 4rem;
	flex-wrap: wrap;
}

.card {
	flex: 1;
	min-width: 200px;
}

.card__card-img {
	min-height: 200px;
	border: 4px solid var(--color-primary-400);
	border-radius: 12px;
	margin-bottom: 1rem;
}

/* utility classes end */
