@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* css resets start */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* css resets end */

:root {
	--color-primary-400: #3882f6;

	--color-neutral-700: #1f2937;
	--color-neutral-300: #e5e7eb;
	--color-neutral-200: #f9faf8;
	--color-neutral-100: #fff;

	--color-bg-hero: var(--color-neutral-700);
	--color-bg-footer: var(--color-neutral-700);
	--color-text-main-hero: var(--color-neutral-200);
	--color-text-hero: var(--color-neutral-300);
	--color-text-nav: var(--color-neutral-300);
	--color-text-brand: var(--color-neutral-200);
	--color-bg-button: var(--color-primary-400);
	--color-text-button: var(--color-neutral-100);
	--color-bg-cta: var(--color-primary-400);
	--color-text-cta: var(--color-neutral-100);
	--color-text-sect-header: var(--color-neutral-700);
	--color-bg-sect-quote: var(--color-neutral-300);
	--color-text-sect-quote: var(--color-neutral-700);

	--ff-primary: 'Roboto', sans-serif;

	--ff-body: var(--ff-primary);

	--fs-regular: 1rem;
	--fs-medium: 1.125rem;
	--fs-lg: 1.5rem;
	--fs-xl: 2.25rem;
	--fs-xxl: 3rem;
}

html {
	font-size: 16px;
}

/* general stylings start */
body {
	font-family: var(--ff-body);
}

/* header start */
.site-header {
	background: var(--color-bg-hero);
	padding-block: 1rem;
}

.site-header__site-brand a {
	color: var(--color-text-brand);
	text-decoration: none;
}

.primary-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.primary-nav ul {
	list-style: none;
}

.primary-nav ul li {
	display: inline;
	padding-bottom: 0.5rem;

	&:hover {
		border-bottom: 1px solid var(--color-primary-400);
	}
}

.primary-nav ul li:not(:last-child) {
	margin-inline-end: 1.5rem;
}

.primary-nav ul li a {
	text-decoration: none;
	color: var(--color-text-nav);
}
/* header end */

section {
	padding-block: 2.5rem 6rem;
}

button,
*[role='button'] {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;
	background-color: var(--color-bg-button);
	color: var(--color-text-button);
	padding: 0.6rem 2rem;
	border-radius: 4px;

	&:hover {
		opacity: 0.9;
	}
}

/* hero section start */

.hero {
	background: var(--color-bg-hero);
	color: var(--color-text-hero);
}

.hero-content--left {
	color: var(--color-text-hero);

	& > *:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.hero-content--left h2 {
	color: var(--color-text-main-hero);
}

.hero-content--right {
	display: flex;
}

.hero-content--right__img-container {
	border: 1px solid var(--color-primary-400);
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	background: #333333;
}
/* hero section end */

/* general stylings end */

/* utility classes start */

/* typography start */
.fs-regular {
	font-size: var(--fs-regular);
}
.fs-md {
	font-size: var(--fs-medium);
}
.fs-lg {
	font-size: var(--fs-lg);
}
.fs-xl {
	font-size: var(--fs-xl);
}
.fs-xxl {
	font-size: var(--fs-xxl);
}

/* typography end */

/* layout start */
.container {
	max-width: 1100px;
	margin-inline: auto;
	padding-inline: 1rem;
}

.even-columns {
	display: flex;
	gap: 1rem;
}

.even-columns > * {
	flex: 1;
}

/* layout end */

/* utility classes end */
